<form action="">
    <div class="d-flex gap-2">
        <input type="text" class="form-control" placeholder="Ecris ton todo...">
        <div class="input-group-append" id="button-addon4">
            <button class="btn btn-outline-secondary" type="button">Ajouter</button>
        </div>
    </div>
</form>